body {
    background-color: lavender;
}

table,
tr, td {
    border: 2px solid rgb(196, 196, 196);
    text-align: center;
}

tr {
    border: 3px solid rgb(196, 196, 196);
    background-color: whitesmoke;
    color: black;
}

th {
    border: 3px solid blue;
    background-color: lightskyblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}


.form {
	padding: 20px 200px;
  	font-size: 20px;
  
}

.form-control {
	padding-bottom: 20px;
}

.form-control input {
    border: 2px solid black;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
    font-size: 16px;
}

#Add {
    background-color: lightskyblue;
    border: 3px solid black;
	font-size: 20px;
	padding: 10px;
	width: 50%;
  	margin-left: 30%;
}
